/* EXERCÍCIO 1: fontes */
/* importá-las aqui... e definir as `font-family` da turminha... */
@import "fonts/ravie.css";
@import "fonts/verdana.css";

html {
  min-height: 100vh;
}

body {
  margin: 0px;
  min-height: 100vh;
  background-color: var(--cor-de-fundo);
  font-family: 'Verdana';
}

h1 {
  font-family: 'Ravie';
}

strong {
  color: #d027aa;
}

#recipiente {
  background-image: var(--imagem-de-fundo);
  border-left: 1px solid var(--cor-de-borda-recipiente);
  border-right: 1px solid var(--cor-de-borda-recipiente);
}

#cardapio {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid var(--cor-de-borda-cardapio);
  border-bottom: 1px solid var(--cor-de-borda-cardapio);
  border-left: 1px solid var(--cor-de-borda-cardapio);
  padding: 16px;
}

#cardapio h3 {
  font-size: 18px;
  color: var(--cor-do-texto);
  margin-top: 30px;
}

#cardapio article {
  font-size: 14px;
  color: var(--cor-do-texto);
}


/* EXERCÍCIO 2: layout da página */
#recipiente {
  /* layout da página aqui */
  margin: 0px auto;
  min-height: 100vh;
  width: 800px;
  display: grid;
  grid-template-columns: 164px auto;
  grid-template-rows: max-content auto max-content;
}

#cabecalho-pagina {
  grid-column: 2;
}

#lateral {
  grid-column: 1;
  grid-row: -1 / 1;
}

#cardapio {
  grid-column: 2;
  grid-row: 2;
}

#rodape-pagina {
  grid-column: 2;
  grid-row: 3;
}

/* EXERCÍCIO 3: cabeçalho da página */
#cabecalho-pagina {
 padding: 8px;
}

#cabecalho-pagina h1 {
  margin: 0;
  font-size: 36px;
  color: #e90c0c;
  font-weight: normal;
  text-align: center;
}

#cabecalho-pagina h2 {
  margin: 0;
  font-size: 24px;
  color: var(--cor-do-texto);
  font-weight: normal;
  text-align: right;
}

/* EXERCÍCIO 4: cada item do menu */
article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}


/* EXERCÍCIO 5: o rodapé */
#rodape-pagina {
  display: flex;
  justify-content: flex-end;
  padding: 45px 15px 25px 0px;
}

/* EXERCÍCIO 6: lateral */
#lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* EXERCÍCIO 7: o ticket */
#ticket {
  position: fixed;
  top: 50%;
  transform: translateX(-89px);
  transition-duration: 500ms;
}

#ticket:hover {
  transform: translateX(0px);
}


/* EXERCÍCIO 8: deslocamento no siri e peixe */
#siri {
  position: relative;
  top: 17px;
  left: -10px;
}

#peixe {
  position: relative;
  left: -44px;
}

/* EXERCÍCIO 9: bolhas - no HTML e no JS */
/* --- */


/* EXERCÍCIO 10: modo escuro */
/* no início deste arquivo (depois dos @import), coloque
   as custom properties */
:root {
  --cor-do-texto: #333;
  --cor-de-fundo: #fff;
  --cor-de-borda-recipiente: #d3d3d3;
  --cor-de-borda-cardapio: #aac0ae;
  --imagem-de-fundo: linear-gradient(to bottom, #f6f1b2, #4599b2 80%);
}
  
/* coloque aqui a media query para sobrescrever o valor
   das custom properties para o modo escuro */
@media (prefers-color-scheme: dark) {
  :root {
    --cor-do-texto: #eee;
    --cor-de-fundo: #222222;
    --cor-de-borda-recipiente: #383838;
    --cor-de-borda-cardapio: #59645b;
    --imagem-de-fundo: linear-gradient(to bottom, #002c5f, #000f2c 80%);
    /* ... */
  }
}
